@font-face{font-family:"iconfont";
	src:url(iconfont.eot?t=1493907631574);
	src:url(iconfont.eot?t=1493907631574#iefix) format('embedded-opentype'),
	url(iconfont.woff?t=1493907631574) format('woff'),
	url(iconfont.ttf?t=1493907631574) format('truetype'),
	url(iconfont.svg?t=1493907631574#iconfont) format('svg')}

.iconfont{
	font-family:"iconfont" !important;
	font-size:24px;
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

.icon-ff-user:before { content: "\e60e";
  position:relative;
  top: -3px;}

.icon-download:before { content: "\e723"; 
  position:relative;
  top: -3px;}

.icon-paper:before { content: "\e6d7"; 
  position:relative;
  top: -3px;}

.icon-contacts:before { content: "\e698"; 
  position:relative;
  top: -3px;}

.icon-phone:before { content: "\e61c"; 
  font-size:16px;}

.icon-mail:before { content: "\e62f"; 
  font-size:16px;}

.icon-github:before { content: "\e85c"; 
  font-size:16px;}

.icon-twitter:before { content: "\e640"; }

.icon-coffee:before { content: "\e693"; 
  font-size:144px;}



.icon-weibo:before{content:"\e619"}

.icon-facebook:before{content:"\e67a"}

.icon-researchgate:before{content:"\e600"}

.icon-wechat:before{content:"\e604"}

.icon-jiahao:before{content:"\e601"}

.icon-download1:before{content:"\e63e"}

.icon-twitter:before{content:"\e640"}

.icon-_sort-nume:before{content:"\e602"}
.icon-_sort-nume1:before{content:"\e603"}


